body{
    background-color: #ffff;
	font-family: 'Water Brush', cursive;
}
#navbar-header{
	background-color: #00186C;
	height: 120px;
	border-radius: 20px;
}
#logo-img{
	background: url('../images/DSC02687.jpg') no-repeat;
	width: 155px;
	height: 155px;
	margin-right: 20px;
	margin-left: 45px;
	float: left;
}
#header-brand {
	color: #A6CFFF;
	font-size: 60px;
	margin-left: 20px;
	text-transform: uppercase; 
	margin-top: 35px;
	margin-bottom: 8px;
	font-weight: 700px;
}
#phone {
	color: #A6CFFF;
	font-family: 'Open Sans', sans-serif;
    text-decoration: none; 
    margin-bottom: 65px;
    margin-left: 600px;
}

#kosher-logo{
	background: url('images/1200px-Star_full.svg.png');
	width: 20px;
	height: 20px;
	margin-top: 0px;
}
#kosher{
	color: #000000;
	margin-left: 10px;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	vertical-align: middle;

}
.navbar-toggler-icon{
	border: 1px solid #A6CFFF;
	padding: 20px;
	border-radius: 6px 6px 6px 6px;
}
.navbar-toggler{
	padding: 0px;
	margin-bottom: 60px;
}
#offcanvasNavbarLabel{
	font-size: 50px;
	color: #00186C;
	font-weight: 700px;
}
.bi-house-door-fill{
	margin-left: 157px;
	color: #A6CFFF;
}
#home{
	font-size: 10px;
	margin-left: 161px;
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	text-transform: capitalize;
}
.active{
	text-decoration: none;
}
.bi-journal-text{
	margin-left: 156px;
	color: #7200B8;
}
#menu{
	font-size: 10px;
	margin-left: 162px;
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	text-transform: capitalize;
}
.bi-award{
	margin-left: 156px;
	color: #E8D709;
	position:;
}
#awards{
	font-size: 10px;
    margin-left: 157px;
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	text-transform: capitalize;
}

.bi-telephone{
	margin-left: 156px;
	color: #0F6319;
}
#social-media{
	font-size: 10px;
	margin-left: 150px;
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	text-transform: capitalize;
	margin-bottom: 10px;

}
.dropdown-item{
	font-size: 10px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	text-transform: capitalize;
}
.bi-map{
	margin-left: auto;
	color: #B03A2E;

}

.bi-whatsapp{
	margin-left: auto;
	color: #095712;
}
.bi-instagram{
	color: #CC00FF;
	margin-left: auto;
}
.form-control{
	margin-top: 50px;
	font-family:'Open Sans', sans-serif;
	height: 30px;
	font-size: 10px;
}
.btn{
	height: 30px;
	margin-top: 50px;
}
.bi-search{
	margin-bottom: 9px;
}


@media(max-width: 1400){

}

@media(min-width: 1200px) and (max-width: 1399px){
#phone{
   margin-left: 500px;
   margin-bottom: 65px;
}
.navbar-toggler{
	margin-bottom: 60px;
}

}

@media(min-width: 992px) and (max-width: 1199px){
#phone{
    margin-left: 300px;
    margin-bottom: 65px;
}
.navbar-toggler{
	margin-bottom: 60px;
}

}

@media(min-width: 768px) and (max-width: 991px){
#logo-img{
	width: 100px;
	height: 100px;
	margin-left: 0px;
	margin-top: 0px;
}
#header-brand {
	font-size: 38px;
	margin-bottom: 0px;
}
#phone{
    margin-left: 240px;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.navbar-toggler{
	margin-bottom: 0px;
}
}
@media(min-width: 576px) and (max-width: 767px){
#logo-img{
	width: 100px;
	height: 100px;
	margin-left: 0px;
	margin-top: 0px;
}
#header-brand {
	font-size: 35px;
	margin-bottom: 0px;
}
#phone{
    margin-left: 50px;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 65px;
}
.navbar-toggler{
	margin-bottom: 0px;
}
}
@media(max-width: 575px){
#logo-img{
	width: 90px;
	height: 90px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 20px;
}
#header-brand {
	font-size: 30px;
	margin-bottom: 0px;
	margin-top: 20px;
}
#phone{
    margin-left: 70px;
    font-size: 13px;
    margin-bottom: 0px;
    margin-top: 105px;
    margin-right: 0px;
    padding: 0px;
}
.bi-telephone{
	margin-left: 0px;
	color: #0F6319;
}
.navbar-toggler{
	margin-bottom: 20px;
	margin-top: 0px;
}
}






